* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --gray-50: #fafafa;
  --gray-100: #e2e8f0;
} 

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  color: var(--black);
}

body,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
